<div class="side-top">
  <div class="user-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="chat-btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-mains">
  <% current_user.rooms.each do |room| %>
  <div class="main">
    <div class="main-name">
      <a href="#"><%= room.name %></a>
    </div>
  </div>
  <% end %>
  <div class="roommain">
    <div class="main-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>